body {
    width: 100%;
}

.pages {
    visibility: hidden;
}

.game-border {
    width: 75vmin;
    height: 78.8vmin;
    position: absolute;
    background-color: #0d9b37;
    border-radius: 10px;
    margin: 0% 26%;
    margin-top: 2%;
}

/* learned about this from tutorialspoint */
.game-border  {
    border: 15px solid transparent;
    border-image: url('../images/Bush2.png');
    border-image-slice: 20;
    border-image-width: 1 1 1 1;
    border-image-outset: 0.2;
    border-image-repeat: round;
 }

.board {
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background-color: #0d9b37;
    border-radius: 10px;
    margin: 0;
    margin-top: 0%;
}

.score-board {
    width: 75vmin;
    /*text-align: center;*/

}

.center p {
    width: 31.1%;
    position: relative;
    justify-content: center;
    display: inline-flex;
    font-size: 120%;
    border: 3px solid #000;
    border-style: double;
    padding: 0.5%;
}

.center span {
    padding: 0 0 0 10%;
}

/*.center .high-score {
    width: 15%;
}*/

/* .snake img {
    width: 2%;
    height: 8%;
    position: relative;
}

.snakeBody img {
    width: 1%;
    margin: -10px 0 0 1px ;
}

.snakeTail img {
    width: 1.3%;
    margin: -27px 0 0 0 ;
} */

/* Style of the snake */
.snake {
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    border: 1.5px solid #000;
}
/* Style for the food */
.food {
    background-color: #be0f0f;
    background-image: url("./assets/images/Apple1.png") center center no reapeat;
    border: 1px solid #681E1E;
}

/* Game Over*/

.game-over {
    width: 83%;
    color: #000;
    text-align: center;
    font-size: 400%;
    margin-top: 30%;
    margin-left: 9%;
}

.restart {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    border: none;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #F0F0F0,
    inset -2px -2px 4px #3B3B3B;
    font-size: 90%;
    padding: 3% 2% 2% 3%;
    margin-top: 0%;
    margin-left: 40%;
}

.restart:hover {
    box-shadow: inset 2px 2px 4px #3B3B3B,
    inset -2px -2px 4px #F0F0F0;
}

.restart i:hover {
    transition: all 0.5s;
    transform: rotate(-360deg);
}

/*  Controls */
.controls {
    position: absolute;
    right: 0;
    margin: 8% 12% 0 0;
}

.btnControls {
    width: 70px;
    height: 70px;
    position: relative;
    /* background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C); */
    background-color: #2B2B2C;
    border: none;
    border-radius: 20px;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

#pauseBtn {
    border-radius: 50%;
}

/* .btnControls:hover {
    box-shadow: inset 2px 2px 4px #3B3B3B,
    inset -2px -2px 4px #F0F0F0;
} */

.btnControls i {
    /* color: #121212; */
    color: #1e1e1f;
}

#pauseBtn {
    box-shadow: 1px 1px 0.5px #111111,
    -1px -1px 0.5px #7c7c7c,
    -1px 1px 0.5px #111111,
    1px -1px 0.5px #7c7c7c;
    margin: 5px 5px 5px 0;
}

#pauseBtn:hover {
    box-shadow: inset 1px 1px 0.2px #111111,
    inset -1px -1px 0.2px #7c7c7c,
    inset -1px 1px 0.2px #111111,
    inset 1px -1px 0.2px #7c7c7c;
}

.left, .right {
    display: flex;
}

#upBtn {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px;
}

#upBtn:hover {
    box-shadow: inset 0px 2px 2px 1px #3B3B3B;
}

#upBtn:hover > i {
    color: #0DEFD5;
}

#leftBtn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 25px;
}

#leftBtn:hover {
    box-shadow: inset 2px 0px 2px 1px #3B3B3B;
}

#leftBtn:hover > i {
    color: #D78DB5;
}

#rightBtn {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 20px;
}

#rightBtn:hover {
    box-shadow: inset -2px 0px 2px 1px #3B3B3B;
}

#rightBtn:hover > i {
    color: #D4706C;
}

#downBtn {
    border-top-right-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: 20px;
}

#downBtn:hover {
    box-shadow: inset 0px -2px 2px 1px #3B3B3B;
}

#downBtn:hover > i {
    color: #9FAAD9;
}

.point{
    width: 60px;
    height: 60px;
    background-color: #2B2B2C;
    position: absolute;
    border-radius: 20px;
    rotate: 45deg;
    z-index: -1;
}

.point-top {
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 1px #111111;
    margin-top: -68px;
    margin-left: 5px;
}

#upBtn:hover + .point-top {
    box-shadow: none;
}

.point-left {
    border-top-right-radius: 10px;
    box-shadow: 2px -2px 1px #111111;
    margin-top: 5px;
    margin-left: 22px;
}

#leftBtn:hover + .point-left {
    box-shadow: none;
}

.point-right {
    border-bottom-left-radius: 10px;
    box-shadow: -2px 2px 1px #111111;
    margin-top: 4px;
    margin-left: 9px;
}

#rightBtn:hover + .point-right {
    box-shadow: none;
}

.point-down {
    border-top-left-radius: 10px;
    box-shadow: -2px -2px 1px #111111;
    margin-top: -80px;
    margin-left: 5px;
}

#downBtn:hover ~ .point-down {
    box-shadow: none;
}

/* MEDIA QUERIES */

/* For larger screen sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {
    
}