.settingsBtn {
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 120%;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    margin: 17px 20px 0 2%;
}

.settingsBtn i {
    color: #fff;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 5px 1px #000;
}

.settings-wrapper {
    width: 40vh;
    height: 350px;
    position: fixed;
    top: 50%;
    left: 50%;
    display: none;
    background-color: #000;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    transform: translate(-50%, -50%);
    margin: auto auto;
    z-index: 4;
}

legend {
    width: 55px;
    height: 55px;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 50%;
    text-align: center;
    font-size: 200%;
    line-height: 30px;
    color: #DFDEE0;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 3.5px 0px #5f5f5f,
    0 4px 0px #5f5f5f,
    0 7px 1px #000;
    padding: 2%;
}

.settingBtns {
    width: 100%;
    text-shadow: 3px 3px 2px #4d4d4d;
}

.settingBtnborder {
    width: 60%;
    height: 60px;
    display: inline-flex;
    justify-content: start;
    background-color: #1e1e1f;
    box-shadow: 2px 1px 2px #DFDEE0,
    -2px -1px 2px #1d1d1d,
    inset -5px -5px 10px #000000,
    inset 3px 3px 10px #DFDEE0;
    border-radius: 30px;
    padding-right: 1%;
    margin-top: 5%;
    margin-left: 20%;
}

.game-border {
    width: 37.4%;
    height: 78.8vmin;
    position: absolute;
    margin: -110px 0 0 17%;
    /* transition: all 1s; */
}

/* learned about this from tutorialspoint */
.board  {
    border: 2vmin solid #0c5321;
    border-image: url('../images/Bush.webp');
    border-image-slice: 20;
    border-image-width: 1 1 1 1;
    border-image-outset: 0.2;
    border-image-repeat: round;
 }

.board {
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background-color: #0d9b37;
    border-radius: 10px;
}

.score-board {
    width: 103.5%;
    text-align: center;
    margin-bottom: 1%;
}

.center {
    width: 77.8vmin;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    background-image: url(../images/Scales.webp);
    background-position: center;
    background-size: cover;
    font-size: 120%;
    font-weight: 700;
    border: 3px solid #000;
    border-style: double;
    padding: 0.5%;
}

.center p {
    width: 35%;
    display: inline-flex;
    justify-content: center;
}

.center span {
    padding: 0 0 0 10%;
}

/* Style of the snake */
.snake {
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    border: 1.5px solid #000;
}
/* Style for the healty food */
.food {
    background-color: #be0f0f;
    border: 1px solid #681E1E;
}

/* Game Over*/

.game-over {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #000;
    text-align: center;
    font-size: 400%;
    transform: translate(-50%, -50%);
}

.restart {
    width: 100px;
    height: 100px;
    font-size: 90%;
    line-height: 100px;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    background-image: url(../images/Scales.webp);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #F0F0F0,
    inset -2px -2px 4px #3B3B3B;
    margin: 0 0 0 40%;
}

.restart:hover {
    box-shadow: inset 2px 2px 4px #3B3B3B,
    inset -2px -2px 4px #F0F0F0;
}

.restart i:hover {
    transition: all 0.5s;
    transform: rotate(-360deg);
}

/*  Controls */

.controls {
    position: absolute;
    right: 0;
    margin: 10% 11% 0 0;
    /* transition: all 2.5s; */
}

.btnControls {
    width: 70px;
    height: 70px;
    position: relative;
    background-color: #2B2B2C;
    background-image: url(../images/Scales.webp);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 20px;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.pause, .music, .sound {
    width: 50px;
    height: 50px;
    background-color: #DFDEE0;
    background-image: url(../images/Scales.webp);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    font-size: 200%;
    line-height: 50px;
}

.music, .sound {
    display: inline-flex;
    font-size: 130%;
    line-height: 50px;
}

#pauseBtn {
    position: absolute;
    bottom: 0;
    margin: 0 0 -40px -60px;
}

#musicBtn {
    margin: 5px 0 15% 2%;
}

#musicBtn i, #soundBtn i{
    padding: 15% 0 0 20%;
}

#soundBtn {
    margin: 5px 0 0 2%;
}

#pauseBtn, #musicBtn, #soundBtn {
    box-shadow: 1px 1px 3px #111111,
    -1px -1px 3px #7c7c7c,
    -1px 1px 3px #111111,
    1px -1px 3px #7c7c7c;
}

#pauseBtn:hover, #musicBtn:hover, #soundBtn:hover {
    box-shadow: inset 1px 1px 3px #111111,
    inset -1px -1px 3px #7c7c7c,
    inset -1px 1px 3px #111111,
    inset 1px -1px 3px #7c7c7c;
}

.left, .right {
    display: flex;
}

#upBtn {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px;
}

#upBtn:hover {
    box-shadow: inset 0px 2px 2px 1px #3B3B3B;
}

#upBtn:hover > i {
    color: #0DEFD5;
}

#leftBtn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 25px;
}

#leftBtn:hover {
    box-shadow: inset 2px 0px 2px 1px #3B3B3B;
}

#leftBtn:hover > i {
    color: #D78DB5;
}

#rightBtn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 20px;
}

#rightBtn:hover {
    box-shadow: inset -2px 0px 2px 1px #3B3B3B;
}

#rightBtn:hover > i {
    color: #D4706C;
}

#downBtn {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 18px;
}

#downBtn:hover {
    box-shadow: inset 0px -2px 2px 1px #3B3B3B;
}

#downBtn:hover > i {
    color: #9FAAD9;
}

.point{
    width: 60px;
    height: 60px;
    background-color: #2B2B2C;
    background-image: url(../images/Scales.webp);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 20px;
    transform: rotate(45deg);
    z-index: -1;
}

.point-top {
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 1px #111111;
    margin-top: -68px;
    margin-left: 5px;
}

#upBtn:hover + .point-top {
    box-shadow: none;
    box-shadow: inset -2px -2px 12px #111111;
}

.point-left {
    border-top-right-radius: 10px;
    box-shadow: 2px -2px 1px #111111;
    margin-top: 5px;
    margin-left: 22px;
}

#leftBtn:hover + .point-left {
    box-shadow: none;
    box-shadow: inset -2px 2px 12px #111111;
}

.point-right {
    border-bottom-left-radius: 10px;
    box-shadow: -2px 2px 1px #111111;
    margin-top: 4px;
    margin-left: 9px;
}

#rightBtn:hover + .point-right {
    box-shadow: none;
    box-shadow: inset 2px -2px 12px #111111;
}

.point-down {
    border-top-left-radius: 10px;
    box-shadow: -2px -2px 1px #111111;
    margin-top: -80px;
    margin-left: 5px;
}

#downBtn:hover ~ .point-down {
    box-shadow: none;
    box-shadow: inset 2px 2px 12px #111111;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    .game-border {
        width: 37.4%;
        height: 78.8vmin;
        margin: -100px 0 0 13%;
    }
    
    .board {
        width: 72vmin;
        height: 72vmin;
    }

    .score-board {
        width: 99%;
        margin-bottom: 1%;
    }

    .center {
        width: 74.9vmin;
        padding: 0.5%;
    }
    
    .center p {
        width: 35%;
    }

    .controls {
        margin: 10% 10% 0 0;
    }

    #pauseBtn {
        margin: 0 0 -15px -60px;
    }

}

/* For larger screen sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {

    .settingsBtn {
        margin-top: 14px;
    }

    .game-border {
        width: 37.4%;
        height: 78.8vmin;
        position: fixed;
        margin: -5.5% 0 0 8%;
    }
    
    .board {
        width: 66vmin;
        height: 66vmin;
    }

    .score-board {
        width: 100%;
    }

    .center {
        width: 69vmin;
        padding: 0.5%;
    }

    .controls {
        margin: 12% 11% 0 0;
    }

    .game-over {
        width: 100%;
        font-size: 300%;
    }

    .restart {
        width: 70px;
        height: 70px;
        font-size: 85%;
        line-height: 70px;
        margin-left: 45%;
    }

    .btnControls {
        width: 57px;
        height: 57px;
        font-size: 200%;
        border-radius: 15px;
        line-height: 57px;
    }

    #pauseBtn, #musicBtn, #soundBtn {
        width: 50px;
        height: 50px;
        font-size: 200%;
        line-height: 50px;
        border-radius: 50%;
        margin: 0 0 20px -60px;
    }

    #musicBtn, #soundBtn {
        margin: 5px 0 0 3px;
    }

    #musicBtn i, #soundBtn i {
        font-size: 65%;
        border-radius: 50%;
    }
    
    #upBtn {
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        margin-bottom: 14px;
    }
    
    #leftBtn {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        margin-right: 19px;
    }
    
    #rightBtn {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-left: 14px;
    }
    
    #downBtn {
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        margin-top: 12px;
    }
    
    .point{
        width: 51px;
        height: 51px;
    }
    
    .point-top {
        border-bottom-right-radius: 10px;
        margin-top: -54px;
        margin-left: 2.5px;
    }
    
    .point-left {
        border-top-right-radius: 10px;
        margin-top: 3px;
        margin-left: 16px;
    }
    
    .point-right {
        border-bottom-left-radius: 10px;
        margin-top: 3px;
        margin-left: 4px;
    }
    
    .point-down {
        border-top-left-radius: 10px;
        margin-top: -68px;
        margin-left: 3px;
    }

}

@media screen and (max-width: 992px) {

    .game-border {
        width: 90%;
        height: 97.5vmin;
        position: fixed;
        border-radius: 10px;
        margin: 0 3%;
        margin-top: -15px;
    }
    
    .board {
        width: 55vmin;
        height: 55vmin;
        border-radius: 10px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
    }

    .center {
        width: 57.1vmin;
        font-size: 100%;
    }

    .game-over {
        font-size: 250%;
    }
    
    .restart {
        width: 70px;
        height: 70px;
        font-size: 85%;
        line-height: 70px;
        padding: 0 0 0 0;
        margin-top: 0%;
        margin-left: 47%;
    }
    
    /*  Controls */
    .controls {
        margin: 15% 6% 0 0;
    }

    #pauseBtn {
        margin: 0 0 170px 0;
    }
    
}

@media screen and (max-width: 748px) {

    .settingsBtn {
        width: 38px;
        height: 37px;
        position: absolute;
        right: 0;
        line-height: 38px;
        font-size: 90%;
        margin: 42px 0 0 0;
    }

    .game-border {
        width: 50%;
        height: 97.5vmin;
        margin: 0 16%;
        margin-top: -80px;
    }
    
    .board {
        width: 64vmin;
        height: 64vmin;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 0%;
    }

    .center {
        width: 66.7vmin;
    }
    
    .restart {
        width: 50px;
        height: 50px;
        font-size: 90%;
        margin-top: 0%;
        margin-left: 40%;
    }
    
    /*  Controls */
    .controls {
        right: 0;
        margin: 61.2% 25% 0 0;
    }
    
    .btnControls {
        width: 50px;
        height: 50px;
        border-radius: 10px;
        font-size: 160%;
        font-weight: 700;
        line-height: 45px;
    }

    #pauseBtn {
        margin: 0 0 50% -57px;
    }

    #upBtn {
        height: 38px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 4px;
    }
    
    #leftBtn {
        width: 38px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-right: 4px;
    }
    
    #rightBtn {
        width: 38px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 4px;
    }
    
    #downBtn {
        height: 38px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 2px;
    }
    
    .point{
        width: 46px;
        height: 46px;
        border-radius: 20px;
    }
    
    .point-top {
        border-bottom-right-radius: 10px;
        margin-top: -39px;
        margin-left: 2px;
    }
    
    .point-left {
        border-top-right-radius: 10px;
        margin-top: 2px;
        margin-left: 4px;
    }
    
    .point-right {
        border-bottom-left-radius: 10px;
        margin-top: 2px;
        margin-left: -6px;
    }
    
    .point-down {
        border-top-left-radius: 10px;
        margin-top: -48px;
        margin-left: 2px;
    }
    
}

@media screen and (max-width: 548px) {

    .settingsBtn {
        width: 31px;
        height: 30px;
        position: absolute;
        right: 0;
        line-height: 28px;
        font-size: 80%;
        margin: 5px 40px 0 0;
    }
    
    .game-border {
        width: 90%;
        height: 97.5vmin;
        border-radius: 10px;
        margin: 0 10%;
        margin-top: -7px;
    }
    
    .board {
        width: 75vmin;
        height: 75vmin;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 0%;
    }

    .center {
        width: 77.3vmin;
        font-size: 100%;
    }
    
    /* Game Over*/
    
    .game-over {
        font-size: 200%;
    }
    
    .restart {
        width: 50px;
        height: 50px;
        font-size: 90%;
        margin-top: 0%;
        margin-left: 40%;
    }
    
    /*  Controls */
    .controls {
        margin: 0 18%;
        margin-top: 86%;
    }

    #pauseBtn {
        width: 40px;
        height: 40px;
        font-size: 160%;
        line-height: 45px;
        margin: 0 0 2% -2px;
    }
    
}

@media screen and (max-width: 444px) { 

    #pauseBtn {
        margin: 0 0 0 -2px;
    }

}

@media screen and (max-width: 400px) { 

    #pauseBtn {
        margin: 0 0 -3% -2px;
    }

}

@media screen and (max-width: 350px) { 

    .game-border {
        width: 90%;
        height: 97.5vmin;
        border-radius: 10px;
        margin: 0 3%;
        margin-top: -7px;
    }
    
    .board {
        width: 86vmin;
        height: 86vmin;
        border-radius: 10px;
        margin: 0 0;
    }

    .center {
        width: 87.5vmin;
        font-size: 90%;
    }

    /*  Controls */
    .controls {
        margin: 0 18%;
        margin-top: 100%;
    }

    #pauseBtn {
        margin: 0 0 -18% -2px;
    }

}