.pages {
    visibility: hidden;
}

.settingsBtn {
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 120%;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    cursor: pointer;
    margin: 17px 20px 0 2%;
}

.settingsBtn i {
    color: #fff;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 5px 1px #000;
}

.settings-wrapper {
    width: 20%;
    height: 40vh;
    position: absolute;
    display: none;
    /* background-color: rgb(25, 25, 25, 0.8); */
    background-color: #000;
    border: 2px solid #A9ACAD;
    border-radius: 10px;
    box-shadow: 0 0 5px #000;
    margin: 11% 40%;
    z-index: 4;
}

legend {
    width: 15%;
    height: 15%;
    background-color: #2B2B2C;
    border: 2px solid #A9ACAD;
    border-radius: 50%;
    text-align: center;
    font-size: 200%;
    line-height: 30px;
    color: #DFDEE0;
    text-shadow: 0 0.5px 0px #5f5f5f,
    0 1px 0px #5f5f5f,
    0 1.5px 0px #5f5f5f,
    0 2px 0px #5f5f5f,
    0 2.5px 0px #5f5f5f,
    0 3px 0px #5f5f5f,
    0 3.5px 0px #5f5f5f,
    0 4px 0px #5f5f5f,
    0 7px 1px #000;
    padding: 2%;
}

.settingBtns {
    width: 100%;
    text-shadow: 3px 3px 2px #4d4d4d;
}

.settingBtnborder {
    width: 60%;
    height: 60px;
    display: inline-flex;
    justify-content: start;
    background-color: #1e1e1f;
    box-shadow: 2px 1px 2px #DFDEE0,
    -2px -1px 2px #1d1d1d,
    inset -5px -5px 10px #000000,
    inset 3px 3px 10px #DFDEE0;
    border-radius: 30px;
    padding-right: 1%;
    margin-top: 5%;
    margin-left: 20%;
}

.game-border {
    width: 37.4%;
    height: 78.8vmin;
    position: absolute;
    margin: -5% 0 0 17%;
    transition: all 2s;
}

/* learned about this from tutorialspoint */
.board  {
    border: 2vmin solid #0c5321;
    border-image: url('../images/Bush2.png');
    border-image-slice: 20;
    border-image-width: 1 1 1 1;
    border-image-outset: 0.2;
    border-image-repeat: round;
 }

.board {
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background-color: #0d9b37;
    border-radius: 10px;
}

.score-board {
    width: 103.5%;
    text-align: center;
    margin-bottom: 1%;
}

.center {
    width: 77.8vmin;
    position: relative;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    background-image: url(../images/scales.png);
    background-position: center;
    background-size: cover;
    font-size: 120%;
    font-weight: 700;
    border: 3px solid #000;
    border-style: double;
    padding: 0.5%;
}

.center p {
    width: 35%;
    display: inline-flex;
    justify-content: center;
}

.center span {
    padding: 0 0 0 10%;
}

/* Style of the snake */
.snake {
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    border: 1.5px solid #000;
}
/* Style for the food */
.food {
    background-color: #be0f0f;
    background-image: url("./assets/images/Apple1.png") center center no reapeat;
    border: 1px solid #681E1E;
}

/* Game Over*/

.game-over {
    width: 83%;
    color: #000;
    text-align: center;
    font-size: 400%;
    margin-top: 30%;
    margin-left: 9%;
}

.restart {
    width: 70px;
    height: 70px;
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    background-image: url(../images/scales.png);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px #F0F0F0,
    inset -2px -2px 4px #3B3B3B;
    font-size: 90%;
    padding: 3% 2% 2% 3%;
    margin-top: 0%;
    margin-left: 40%;
}

.restart:hover {
    box-shadow: inset 2px 2px 4px #3B3B3B,
    inset -2px -2px 4px #F0F0F0;
}

.restart i:hover {
    transition: all 0.5s;
    transform: rotate(-360deg);
}

/*  Controls */

.controls {
    position: absolute;
    right: 0;
    margin: 33% -450px 0 0;
    transition: all 2.5s;
}

.btnControls {
    width: 70px;
    height: 70px;
    position: relative;
    /* background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C); */
    background-color: #2B2B2C;
    background-image: url(../images/scales.png);
    background-position: center;
    background-size: cover;
    border: none;
    border-radius: 20px;
    font-size: 250%;
    font-weight: 700;
    text-align: center;
    line-height: 70px;
    cursor: pointer;
}

.pause, .music, .sound {
    width: 50px;
    height: 50px;
    background-color: #DFDEE0;
    background-image: url(../images/scales.png);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    font-size: 200%;
    line-height: 50px;
}

.music, .sound {
    width: 50px;
    height: 50px;
    display: inline-flex;
    font-size: 130%;
    line-height: 50px;
}

#pauseBtn {
    position: absolute;
    bottom: 0;
    margin: 0 0 -40px -60px;
}

#musicBtn {
    margin: 5px 0 15% 2%;
}

#musicBtn i, #soundBtn i{
    padding: 15% 0 0 20%;
}

#soundBtn {
    margin: 5px 0 0 2%;
}

#pauseBtn, #musicBtn, #soundBtn {
    box-shadow: 1px 1px 3px #111111,
    -1px -1px 3px #7c7c7c,
    -1px 1px 3px #111111,
    1px -1px 3px #7c7c7c;
}

#pauseBtn:hover, #musicBtn:hover, #soundBtn:hover {
    box-shadow: inset 1px 1px 3px #111111,
    inset -1px -1px 3px #7c7c7c,
    inset -1px 1px 3px #111111,
    inset 1px -1px 3px #7c7c7c;
}

.left, .right {
    display: flex;
}

#upBtn {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-bottom: 20px;
}

#upBtn:hover {
    box-shadow: inset 0px 2px 2px 1px #3B3B3B;
}

#upBtn:hover > i {
    color: #0DEFD5;
}

#leftBtn {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    margin-right: 25px;
}

#leftBtn:hover {
    box-shadow: inset 2px 0px 2px 1px #3B3B3B;
}

#leftBtn:hover > i {
    color: #D78DB5;
}

#rightBtn {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-left: 20px;
}

#rightBtn:hover {
    box-shadow: inset -2px 0px 2px 1px #3B3B3B;
}

#rightBtn:hover > i {
    color: #D4706C;
}

#downBtn {
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 18px;
}

#downBtn:hover {
    box-shadow: inset 0px -2px 2px 1px #3B3B3B;
}

#downBtn:hover > i {
    color: #9FAAD9;
}

.point{
    width: 60px;
    height: 60px;
    background-color: #2B2B2C;
    /* background-color: #10108f; */
    background-image: url(../images/scales.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    border-radius: 20px;
    rotate: 45deg;
    z-index: -1;
}

.point-top {
    border-bottom-right-radius: 10px;
    box-shadow: 2px 2px 1px #111111;
    margin-top: -68px;
    margin-left: 5px;
}

#upBtn:hover + .point-top {
    box-shadow: none;
    box-shadow: inset -2px -2px 12px #111111;
}

.point-left {
    border-top-right-radius: 10px;
    box-shadow: 2px -2px 1px #111111;
    margin-top: 5px;
    margin-left: 22px;
}

#leftBtn:hover + .point-left {
    box-shadow: none;
    box-shadow: inset -2px 2px 12px #111111;
}

.point-right {
    border-bottom-left-radius: 10px;
    box-shadow: -2px 2px 1px #111111;
    margin-top: 4px;
    margin-left: 9px;
}

#rightBtn:hover + .point-right {
    box-shadow: none;
    box-shadow: inset 2px -2px 12px #111111;
}

.point-down {
    border-top-left-radius: 10px;
    box-shadow: -2px -2px 1px #111111;
    margin-top: -80px;
    margin-left: 5px;
}

#downBtn:hover ~ .point-down {
    box-shadow: none;
    box-shadow: inset 2px 2px 12px #111111;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1400px) {
    .game-border {
        margin: 0 0 0 15%;
    }

    .controls {
        margin: 30% -500px 0 0;
    }
    
}

@media screen and (max-width: 1400px) {
    .game-border {
        width: 37.4%;
        height: 78.8vmin;
        margin: -4% 0 0 13%;
    }
    
    .board {
        width: 72vmin;
        height: 72vmin;
    }

    .score-board {
        width: 99%;
        margin-bottom: 1%;
    }

    .center {
        width: 74.9vmin;
        padding: 0.5%;
    }
    
    .center p {
        width: 35%;
    }

    #pauseBtn {
        margin: 0 0 -15px -60px;
    }

}

/* For larger screen sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {

    .game-border {
        width: 37.4%;
        height: 78.8vmin;
        position: fixed;
        margin: -1% 0 0 8%;
    }
    
    .board {
        width: 68vmin;
        height: 68vmin;
    }

    .score-board {
        width: 100%;
    }

    .center {
        width: 71.1vmin;
        padding: 0.5%;
    }

    .btnControls {
        width: 70px;
        height: 70px;
        border-radius: 20px;
        font-size: 250%;
        line-height: 70px;
    }

    #pauseBtn {
        margin: 0 0 22px -60px;
    }
    
    .left, .right {
        display: flex;
    }
    
    #upBtn {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        margin-bottom: 20px;
    }
    
    #upBtn:hover {
        box-shadow: inset 0px 2px 2px 1px #3B3B3B;
    }
    
    #upBtn:hover > i {
        color: #0DEFD5;
    }
    
    #leftBtn {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-right: 25px;
    }
    
    #leftBtn:hover {
        box-shadow: inset 2px 0px 2px 1px #3B3B3B;
    }
    
    #leftBtn:hover > i {
        color: #D78DB5;
    }
    
    #rightBtn {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-left: 20px;
    }
    
    #rightBtn:hover {
        box-shadow: inset -2px 0px 2px 1px #3B3B3B;
    }
    
    #rightBtn:hover > i {
        color: #D4706C;
    }
    
    #downBtn {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        margin-top: 18px;
    }
    
    #downBtn:hover {
        box-shadow: inset 0px -2px 2px 1px #3B3B3B;
    }
    
    #downBtn:hover > i {
        color: #9FAAD9;
    }
    
    .point{
        width: 60px;
        height: 60px;
        background-color: #2B2B2C;
        /* background-color: #10108f; */
        background-image: url(../images/scales.png);
        background-position: center;
        background-size: cover;
        position: absolute;
        border-radius: 20px;
        rotate: 45deg;
        z-index: -1;
    }
    
    .point-top {
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 1px #111111;
        margin-top: -68px;
        margin-left: 5px;
    }
    
    #upBtn:hover + .point-top {
        box-shadow: none;
        box-shadow: inset -2px -2px 12px #111111;
    }
    
    .point-left {
        border-top-right-radius: 10px;
        box-shadow: 2px -2px 1px #111111;
        margin-top: 5px;
        margin-left: 22px;
    }
    
    #leftBtn:hover + .point-left {
        box-shadow: none;
        box-shadow: inset -2px 2px 12px #111111;
    }
    
    .point-right {
        border-bottom-left-radius: 10px;
        box-shadow: -2px 2px 1px #111111;
        margin-top: 4px;
        margin-left: 9px;
    }
    
    #rightBtn:hover + .point-right {
        box-shadow: none;
        box-shadow: inset 2px -2px 12px #111111;
    }
    
    .point-down {
        border-top-left-radius: 10px;
        box-shadow: -2px -2px 1px #111111;
        margin-top: -80px;
        margin-left: 5px;
    }
    
    #downBtn:hover ~ .point-down {
        box-shadow: none;
        box-shadow: inset 2px 2px 12px #111111;
    }

}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 748px) {
    
}

@media screen and (max-width: 548px) {
    
    .game-border {
        width: 90%;
        height: 97.5vmin;
        position: fixed;
        border-radius: 10px;
        margin: 0 3%;
        margin-top: 43px;
    }
    
    .board {
        width: 90vmin;
        height: 90vmin;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(30, 1fr);
        grid-template-rows: repeat(30, 1fr);
        background-color: #0d9b37;
        border-radius: 10px;
        margin: 0 auto;
        margin-top: 0%;
    }
    
    .score-board {
        width: 100%;
        text-align: center;
    }

    .center {
        width: 91.3vmin;
        font-size: 100%;
    }
    
    /* Game Over*/
    
    .game-over {
        width: 100%;
        color: #000;
        text-align: center;
        font-size: 250%;
        margin-top: 10%;
        margin-left: 0;
    }
    
    .restart {
        width: 50px;
        height: 50px;
        font-size: 90%;
        margin-top: 0%;
        margin-left: 40%;
    }
    
    .restart:hover {
        box-shadow: inset 2px 2px 4px #3B3B3B,
        inset -2px -2px 4px #F0F0F0;
    }
    
    .restart i:hover {
        transition: all 0.5s;
        transform: rotate(-360deg);
    }
    
    /*  Controls */
    .controls {
        position: fixed;
        right: 0;
        margin: 0 18%;
        margin-top: 100%;
    }
    
    .btnControls {
        width: 45px;
        height: 45px;
        position: relative;
        background-color: #2B2B2C;
        border: none;
        border-radius: 10px;
        font-size: 150%;
        font-weight: 700;
        text-align: center;
        line-height: 45px;
        cursor: pointer;
    }

    .pause, .music, .sound {
        width: 35px;
        height: 35px;
        background-color: #DFDEE0;
        border-radius: 50%;
        font-size: 140%;
        line-height: 37px;
    }
    
    #pauseBtn {
        margin: 0 0 -58px 0;
    }
    
    .left, .right {
        display: flex;
    }
    
    #upBtn {
        height: 38px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-bottom: 8px;
    }
    
    #upBtn:hover {
        box-shadow: inset 0px 2px 2px 1px #3B3B3B;
    }
    
    #upBtn:hover > i {
        color: #0DEFD5;
    }
    
    #leftBtn {
        width: 38px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-right: 9px;
    }
    
    #leftBtn:hover {
        box-shadow: inset 2px 0px 2px 1px #3B3B3B;
    }
    
    #leftBtn:hover > i {
        color: #D78DB5;
    }
    
    #rightBtn {
        width: 38px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-left: 9px;
    }
    
    #rightBtn:hover {
        box-shadow: inset -2px 0px 2px 1px #3B3B3B;
    }
    
    #rightBtn:hover > i {
        color: #D4706C;
    }
    
    #downBtn {
        height: 38px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        margin-top: 7px;
    }
    
    #downBtn:hover {
        box-shadow: inset 0px -2px 2px 1px #3B3B3B;
    }
    
    #downBtn:hover > i {
        color: #9FAAD9;
    }
    
    .point{
        width: 43px;
        height: 43px;
        background-color: #2B2B2C;
        /* background-color: #10108f; */
        position: absolute;
        border-radius: 20px;
        rotate: 45deg;
        z-index: -1;
    }
    
    .point-top {
        border-bottom-right-radius: 10px;
        box-shadow: 2px 2px 1px #111111;
        margin-top: -42px;
        margin-left: 1px;
    }
    
    #upBtn:hover + .point-top {
        box-shadow: none;
    }
    
    .point-left {
        border-top-right-radius: 10px;
        box-shadow: 2px -2px 1px #111111;
        margin-top: 1px;
        margin-left: 3px;
    }
    
    #leftBtn:hover + .point-left {
        box-shadow: none;
    }
    
    .point-right {
        border-bottom-left-radius: 10px;
        box-shadow: -2px 2px 1px #111111;
        margin-top: 1.5px;
        margin-left: 0;
    }
    
    #rightBtn:hover + .point-right {
        box-shadow: none;
    }
    
    .point-down {
        border-top-left-radius: 10px;
        box-shadow: -2px -2px 1px #111111;
        margin-top: -47px;
        margin-left: 1px;
    }
    
    #downBtn:hover ~ .point-down {
        box-shadow: none;
    }
}