* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 95.9vh;
    background-image: linear-gradient(to bottom right, #422680, #341671, #280659, #660F56, #AE2D68, #F54952);
}

#welcome {
    width: 100%;
    position: absolute;
    color: #fff;
    text-align: center;
    font-size: 400%;
    margin: 0 auto;
    margin-top: 50%;
    z-index: 2;
}

header {
    width: 100%;
    height: 50px;
    position: relative;
    display: inline-flex;
    font-size: 150%;
    padding-top: 2%;
}

.logo {
    width: 50%;
    margin-left: 1%;
}

nav {
    width: 50%;
    position: relative;
    text-align: end;
    margin-right: 6%;
}

nav li {
    position: relative;
    display: inline-flex;
    margin: 0 2%;
}

nav li i {
    width: 32px;
    height: 28px;
    text-align: center;
    position: relative;
    font-size: 100%;
    color: #CC2B20;
    text-shadow: 0 0 4px #000;
    border: 3px solid #CC2B20;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000,
    -1px -1px 1px #a7a7a7,
    inset 1px 1px 1px #000,
    inset -1px -1px 1px #a7a7a7;
    padding: 10% 0 0 0;
}

.fa-facebook {
    background-color: #280659;
}

.fa-youtube {
    background-image: linear-gradient(to bottom right, #280659, #660F56);
}

.fa-twitter {
    background-color: #660F56;
}

nav li i:hover {
    color: #06BBD0;
    border: 3px solid #06BBD0;
    box-shadow: inset 1px 1px 1px #a7a7a7,
    inset -1px -1px 1px #000;
}

.landing-card {
    width: 93%;
    height: 90%;
    background-image: linear-gradient(to bottom right, #fff, #3B3B3B, #000);
    border-radius: 15px;
    box-shadow: 0px 0px 5px #000;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 30px;
}

.middle {
    display: inline-flex;
}

.hero-image {
    width: 50%;
}

img {
    width: 100%;
    display: block;
    margin: 5% 5% 9% 5%;
}

.buttons {
    width: 50%;
    display: inline-flex;
    justify-content: center;
}

.btn {
    width: 150px;
    height: 80px;
    align-self: center;
    background-color: #CC2B20;
    border: none;
    border-radius: 10px;
    font-size: 200%;
    color: #fff;
    text-align: center;
    cursor: pointer;
    margin: 0 10%;
}

.rules-modal{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
}
.rules-container{
    width: 50%;
    min-height: 80%;
    max-height: 80%;
    background-image: linear-gradient(to bottom right, #000, #3B3B3B, #20b7d1, #3B3B3B, #000);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 2%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 2.3%;
}

.close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 7.7%;
    right: 23.9%;
    font-size: 200%;
    cursor: pointer;
}

#close-rules{
    display:flex;
    justify-content:center;
    align-items:center;
}
#close-rules:hover, #close-play:hover{
    font-size: 250%;
   color: #CC2B20;
}

#rules-header{
    font-size: 200%;
}

.play-modal{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
}

.play-container{
    width: 8%;
    min-height: 25%;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to bottom right, #000, #3B3B3B, #20b7d1, #3B3B3B, #000);
    border-radius: 10px;
    text-align: center;
    color: #fff;
    padding: 1%;
    overflow: auto;
    animation: fadeIn 1s;
    margin: 9% 13.3% 0 0;
    z-index: 1;
}

.square {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to top left, #20b7d1 5%, #3B3B3B, #3B3B3B);
    transform: rotate(135deg);
    margin: 22.6% 17.7% 0 0;
    z-index: 0;
}

.difficulty-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20%;
}

.difficulty  {
    width: 100%;
    font-size: 200%;
    cursor: pointer;
    margin-top: 7%;
}

#close-play{
    width: 20px;
    height: 20px;
    position: absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    top: 7.7%;
    right: 23.9%;
    font-size: 200%;
    cursor: pointer;
}
