* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 95.9vmin;
    background-image: linear-gradient(to bottom right, #422680, #341671, #280659, #660F56, #AE2D68, #F54952);
    background-image: linear-gradient(to bottom right, #000, #1E1E1E, #522D2D, #681E1E, #7F0F0F, #681E1E, #522D2D, #3B3B3B, #2D2D2D, #1E1E1E, #000);
    /* background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C); */
}

header {
    width: 100%;
    height: 50px;
    position: relative;
    display: inline-flex;
    font-size: 150%;
}

.logo {
    width: 50%;
    margin: 0.5% 0 0 1%;
}

.logo img {
    width: 15%;
    position: relative;
    filter: drop-shadow(0px 0px 7px #ff0000);
    z-index: 2;
}

nav {
    width: 100%;
    position: relative;
    display: flex;
    margin-right: 6%;
    padding-top: 1%;
}

.pages {
    width: 30%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    line-height: 50px;
}

.pages li, .social-links li {
    list-style: none;
}

.pages li a {
    text-decoration: none;
    color: #DFDEE0;
}

.pages li a:hover {
    color: #000;
}

.social-links {
    width: 70%;
    text-align: end;
}

.social-links li {
    position: relative;
    display: inline-flex;
    margin: 0 3%;
}

.social-links li i {
    width: 42px;
    height: 38px;
    text-align: center;
    position: relative;
    font-size: 131%;
    /*color: #CC2B20;
    color: #FFFFFC;
    color: #A9ACAD;*/
    color: #DFDEE0;
    text-shadow: 0 0 4px #000;
    /*border: 3px solid #CC2B20;
    border: 3px solid #FFFFFC;
    border: 3px solid #A9ACAD;*/
    border: 3px solid #DFDEE0;
    border-radius: 50%;
    box-shadow: 1px 1px 1px #000,
    -1px -1px 1px #a7a7a7,
    inset 1px 1px 1px #000,
    inset -1px -1px 1px #a7a7a7;
    padding: 14% 0 0 0;
}

/*.fa-facebook {
    background-color: #280659;
    background-color: #7F0F0F;
}

.fa-facebook:hover {
    color: #4267B2;
    border: 3px solid #4267B2;
}

.fa-youtube {
   background-image: linear-gradient(to bottom right, #280659, #660F56);
}

.fa-youtube:hover {
    color: #FE0000;
    border: 3px solid #FE0000;
    color: #7F0F0F;
    text-shadow: 0 0 4px #FE0000;
    border: 3px solid #7F0F0F;
    color: #2D2D2D;
    text-shadow: 0 0 4px #7F0F0F;
    border: 3px solid #2D2D2D;
    box-shadow: 0px 0px 2px #000,
    0px 0px 2px #000,
    inset 1px 1px 1px #000,
    inset -1px -1px 1px #000;
    padding: 10% 0 0 0;
}

.fa-twitter {
    background-color: #660F56;
}

.fa-twitter:hover {
    color: #1DA1F2;
    border: 3px solid #1DA1F2;
}*/

.social-links li i:hover {
    /*color: #06BBD0;*/
    /*border: 3px solid #06BBD0;*/
    /*box-shadow: inset 1px 1px 1px #a7a7a7,
    inset -1px -1px 1px #000;*/
    /*color: #000;
    border: 3px solid #000;*/
    color: #2D2D2D;
    text-shadow: 0 0 4px #7F0F0F;
    border: 3px solid #2D2D2D;
    box-shadow: 0px 0px 2px #000,
    0px 0px 2px #000,
    inset 1px 1px 1px #000,
    inset -1px -1px 1px #000;
}

.landing-card {
    width: 93%;
    height: 87vh;
    /*background-image: linear-gradient(to bottom right, #fff, #3B3B3B, #000);
    background-image: linear-gradient(to bottom right, #000, #1E1E1E, #3B3B3B, #7C7C7C, #FFF, #F2F2F2, #7C7C7C, #626262, #FFF,
    #404040, #202020, #1E1E1E, #000);
    background-image: linear-gradient(to bottom right, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);*/
    /* background-image: linear-gradient(to bottom right, #000, #1E1E1E, #522D2D, #681E1E, #7F0F0F, #681E1E, #522D2D, #3B3B3B, #2D2D2D, #1E1E1E, #000); */
    border-radius: 15px;
    box-shadow: 0px 0px 20px #000;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 30px;
}

.middle {
    display: inline-flex;
}

.hero-image {
    width: 50%;
}

.hero-image img {
    width: 100%;
    display: block;
    margin: 7.8% 5%;
}

.buttons {
    width: 50%;
    display: inline-flex;
    justify-content: center;
}

.btn {
    width: 25%;
    height: 13%;
    align-self: center;
    /*background-color: #CC2B20;*/
    background-image: linear-gradient(to bottom right, #A9ACAD, #A9ACAD, #A9ACAD, #A9ACAD, #6F6F70, #A9ACAD);
    border: none;
    border-radius: 10px;
    box-shadow: inset 2px 2px 4px #F0F0F0,
    inset -2px -2px 4px #3B3B3B;
    font-size: 240%;
    color: #000;
    text-shadow: 1px 1px 3px #3B3B3B;
    text-align: center;
    line-height: 90px;
    cursor: pointer;
    margin: 0 10%;
}

#play-btn {
    background-image: linear-gradient(to bottom right, #6F6F70, #AAA9AD, #A9ACAD, #DFDEE0, #F0F0F0);
}

#play-btn a {
    text-decoration: none;
    color: #000;
}

.btn:hover {
    box-shadow: inset 2px 2px 4px #3B3B3B,
    inset -2px -2px 4px #F0F0F0;
}

.rules-modal{
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    top: 0;
    backdrop-filter: blur(10px);
    z-index: 2;
}
.rules-container, .play-container{
    width: 50%;
    min-height: 80%;
    max-height: 80%;
    /*background-image: linear-gradient(to bottom right, #000, #522D2D, #7F0F0F, #522D2D, #000);*/
    background-image: linear-gradient(to bottom right, #969697, #AAA9AD, #DFDEE0, #FFF, #A9ACAD, #969697, #F0F0F0, #969697);
    border-radius: 10px;
    text-align: center;
    color: #000;
    padding: 2%;
    overflow: auto;
    margin: 0 auto;
    margin-top: 2.3%;
}

.rules-container h2 {
    font-size: 250%;
}

.rules-container h3 {
    font-size: 150%;
    font-weight: 500;
    margin: 1% 0;
}

.rules-container h3 span {
    font-weight: 600;
}

.rules-container h4 {
    font-size: 140%;
    padding: 2% 0;
}

.rules-container p {
    font-size: 120%;
}

.foods {
    margin-top: 3%;
}

.foods span{
    font-size: 150%;
    font-weight: 600;
}

.apple {
    width: 20%;
}

.chocolate {
    width: 30%;
}

.close-btn {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 200%;
    cursor: pointer;
}

#close-rules, #close-play{
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 3.3% 24% 0 0;
}

#close-play{
    font-size: 170%;
    margin: 7.5% 7% 0 0;
}

#close-rules:hover, #close-play:hover{
    font-size: 250%;
   /*color: #CC2B20;*/
   color: #7F0F0F;
}

#close-play:hover {
    font-size: 220%;
}

.play-modal{
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    z-index: 1;
}

.play-container{
    width: 8%;
    min-height: 22%;
    position: absolute;
    right: 0;
    padding: 1%;
    margin: 11% 11.3% 0 0;
    z-index: 1;
}

.square {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    background-image: linear-gradient(to top left, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    transform: rotate(135deg);
    margin: 23.1% 15.7% 0 0;
    z-index: 0;
}

.difficulty-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-top: 12%;
}

.difficulty-wrapper a {
    text-decoration: none;
    color: #000;
}

.difficulty  {
    width: 100%;
    font-size: 220%;
    cursor: pointer;
    padding: 0;
    margin-top: 10%;
}

.difficulty:hover  {
    background-color: #2B2B2C;
    color: #DFDEE0;
}

.heading {
    color: #DFDEE0;
    font-size: 400%;
    text-align: center;
    padding-top: 0.5%;
}

.paragrafs {
    display: flex;
    padding: 3%;
}

.paragrafs p {
    width: 50%;
    font-size: 120%;
    color: #DFDEE0;
    padding: 1%;
}

footer {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    color: #DFDEE0;
    padding-bottom: 1%;
}

.copyright, .disclaimer {
    font-size: 90%;
}

.disclaimer {
    text-transform: uppercase;
}

.form-section {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
}

.form-container {
    width: 30%;
    margin: 0 0 0 13%;
}

form {
    width: 100%;
    font-size: 120%;
    color: #DFDEE0;
}

.input-wrapper {
    width: 55%;
    margin-top: 3%;
}

.input {
    width: 100%;
    height: 40px;
    background-color: #2B2B2C;
    color: #DFDEE0;
    padding-left: 2.5%;
    margin: 3% 0 12% 0;
}

.radio-wrapper {
    width: 100%;
    margin: 0 0 4% -5%;
}

.message, .collaboration {
    margin-left: 5%;
}

.form-end {
    width: 55%;
    display: block;
}

textarea {
    width: 100%;
    height: 200px;
    min-width: 100%;
    min-height: 200px;
    max-width: 100%;
    max-height: 200px;
    background-color: #2B2B2C;
    color: #DFDEE0;
    border: none;
    padding: 2.5%;
}

#teArea {
    margin: 3% 0 4% 0;
}

.contactBtn {
    width: 30%;
    height: 50px;
    text-align: center;
    font-size: 100%;
    background-image: linear-gradient(to top left, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
    border-radius: 40px;
    cursor: pointer;
    margin: 0 40%;
}

/* MEDIA QUERIES */

/* For larger screen sizes from 1280px wide and down */

@media screen and (max-width: 1280px) {
    
    header {
        width: 100%;
        height: 50px;
        font-size: 150%;
    }
    
    .logo {
        width: 50%;
        margin: 0.5% 0 0 1%;
    }
    
    .logo img {
        width: 15%;
    }
    
    nav {
        width: 100%;
        margin-right: 6%;
        padding-top: 1%;
    }
    
    .pages {
        width: 20%;
        line-height: 50px;
    }
    
    .social-links {
        width: 80%;
    }
    
    .social-links li {
        margin: 0 2%;
    }
    
    .social-links li i {
        width: 42px;
        height: 38px;
        font-size: 131%;
        padding: 14% 0 0 0;
    }
    
    .landing-card {
        width: 93%;
        height: 91.9vh;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 30px;
    }
    
    .hero-image {
        width: 50%;
    }
    
    .hero-image img {
        width: 100%;
        margin: 7.8% 5%;
    }
    
    .buttons {
        width: 50%;
    }
    
    .btn {
        width: 25%;
        height: 13%;
        font-size: 240%;
        margin: 0 10%;
    }
    
    .rules-container, .play-container{
        min-height: 80%;
        max-height: 80%;
        padding: 2%;
        overflow: auto;
        margin: 0 auto;
        margin-top: 2.3%;
    }
    
    .rules-container h2 {
        font-size: 250%;
    }
    
    .rules-container h3 {
        font-size: 150%;
        font-weight: 500;
        margin: 1% 0;
    }
    
    .rules-container h3 span {
        font-weight: 600;
    }
    
    .rules-container h4 {
        font-size: 140%;
        padding: 2% 0;
    }
    
    .rules-container p {
        font-size: 120%;
    }
    
    .foods {
        margin-top: 3%;
    }
    
    .foods span{
        font-size: 150%;
        font-weight: 600;
    }
    
    .apple {
        width: 20%;
    }
    
    .chocolate {
        width: 30%;
    }
    
    .close-btn {
        width: 20px;
        height: 20px;
        font-size: 200%;
    }
    
    #close-rules, #close-play{
        margin: 3.3% 24% 0 0;
    }
    
    #close-play{
        font-size: 170%;
        margin: 7.5% 7% 0 0;
    }
    
    #close-rules:hover, #close-play:hover{
        font-size: 250%;
    }
    
    #close-play:hover {
        font-size: 220%;
    }
    
    .play-modal{
        width: 100%;
        height: 100%;
    }
    
    .play-container{
        width: 8%;
        min-height: 22%;
        padding: 1%;
        margin: 11% 11.3% 0 0;
    }
    
    .square {
        width: 20px;
        height: 20px;
        margin: 23.1% 15.7% 0 0;
    }
    
    .difficulty-wrapper {
        width: 100%;
        padding: 0;
        margin-top: 12%;
    }
    
    .difficulty  {
        width: 100%;
        font-size: 220%;
        margin-top: 10%;
    }
    
    .about {
        padding: 4%;
    }
    
    .about h1 {
        font-size: 400%;
    }
    
    .paragrafs {
        padding: 3%;
    }
    
    .paragrafs p {
        width: 50%;
        font-size: 120%;
        padding: 1%;
    }
}

@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 748px) {
    
}

@media screen and (max-width: 548px) {
    body {
        width: 100%;
        height: 100vmin;
    }
    
    header {
        width: 100%;
        height: 50px;
        position: relative;
        display: inline-flex;
        font-size: 150%;
    }
    
    .logo {
        width: 50%;
        margin: 0.5% 0 0 1%;
    }
    
    .logo img {
        width: 40px;
        height: 60px;
        position: relative;
        filter: drop-shadow(0px 0px 7px #ff0000);
        z-index: 2;
    }
    
    nav {
        width: 100%;
        position: relative;
        display: flex;
        margin-right: 6%;
        padding-top: 2%;
    }
    
    .pages {
        width: 30%;
        display: flex;
        justify-content: space-between;
        text-align: center;
        line-height: 50px;
    }
    
    .pages li, .social-links li {
        list-style: none;
    }
    
    .pages li a {
        text-decoration: none;
        color: #DFDEE0;
    }
    
    .social-links {
        width: 70%;
        text-align: end;
    }
    
    .social-links li {
        position: relative;
        display: inline-flex;
        margin: 0 2%;
    }
    
    .social-links li i {
        width: 32px;
        height: 28px;
        text-align: center;
        position: relative;
        font-size: 90%;
        color: #DFDEE0;
        text-shadow: 0 0 4px #000;
        border: 3px solid #DFDEE0;
        border-radius: 50%;
        box-shadow: 1px 1px 1px #000,
        -1px -1px 1px #a7a7a7,
        inset 1px 1px 1px #000,
        inset -1px -1px 1px #a7a7a7;
        padding: 18% 0 0 0;
    }
    
    .social-links li i:hover {
        color: #2D2D2D;
        text-shadow: 0 0 4px #7F0F0F;
        border: 3px solid #2D2D2D;
        box-shadow: 0px 0px 2px #000,
        0px 0px 2px #000,
        inset 1px 1px 1px #000,
        inset -1px -1px 1px #000;
    }
    
    .landing-card {
        width: 96%;
        height: 97.5vh;
        border-radius: 15px;
        box-shadow: none;
        margin: 0 auto;
        margin-top: 2%;
        margin-bottom: 30px;
    }
    
    .middle {
        display: inline-flex;
    }
    
    .hero-image {
        width: 50%;
    }
    
    .hero-image img {
        width: 100%;
        display: block;
        margin: 7.8% 5%;
    }
    
    .buttons {
        width: 50%;
        display: inline-flex;
        justify-content: center;
    }
    
    .btn {
        width: 25%;
        height: 13%;
        align-self: center;
        background-image: linear-gradient(to bottom right, #A9ACAD, #A9ACAD, #A9ACAD, #A9ACAD, #6F6F70, #A9ACAD);
        border: none;
        border-radius: 10px;
        box-shadow: inset 2px 2px 4px #F0F0F0,
        inset -2px -2px 4px #3B3B3B;
        font-size: 240%;
        color: #000;
        text-shadow: 1px 1px 3px #3B3B3B;
        text-align: center;
        line-height: 90px;
        cursor: pointer;
        margin: 0 10%;
    }
    
    #play-btn {
        background-image: linear-gradient(to bottom right, #6F6F70, #AAA9AD, #A9ACAD, #DFDEE0, #F0F0F0);
    
    }
    
    .btn:hover {
        box-shadow: inset 2px 2px 4px #3B3B3B,
        inset -2px -2px 4px #F0F0F0;
    }
    
    .rules-modal{
        width: 100%;
        height: 100%;
        display: none;
        position: fixed;
        top: 0;
        backdrop-filter: blur(10px);
        z-index: 2;
    }
    .rules-container, .play-container{
        width: 50%;
        min-height: 80%;
        max-height: 80%;
        /*background-image: linear-gradient(to bottom right, #000, #522D2D, #7F0F0F, #522D2D, #000);*/
        background-image: linear-gradient(to bottom right, #969697, #AAA9AD, #DFDEE0, #FFF, #A9ACAD, #969697, #F0F0F0, #969697);
        border-radius: 10px;
        text-align: center;
        color: #000;
        padding: 2%;
        overflow: auto;
        margin: 0 auto;
        margin-top: 2.3%;
    }
    
    .rules-container h2 {
        font-size: 250%;
    }
    
    .rules-container h3 {
        font-size: 150%;
        font-weight: 500;
        margin: 1% 0;
    }
    
    .rules-container h3 span {
        font-weight: 600;
    }
    
    .rules-container h4 {
        font-size: 140%;
        padding: 2% 0;
    }
    
    .rules-container p {
        font-size: 120%;
    }
    
    .foods {
        margin-top: 3%;
    }
    
    .foods span{
        font-size: 150%;
        font-weight: 600;
    }
    
    .apple {
        width: 20%;
    }
    
    .chocolate {
        width: 30%;
    }
    
    .close-btn {
        width: 20px;
        height: 20px;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 200%;
        cursor: pointer;
    }
    
    #close-rules, #close-play{
        display:flex;
        justify-content:center;
        align-items:center;
        margin: 3.3% 24% 0 0;
    }
    
    #close-play{
        font-size: 170%;
        margin: 7.5% 7% 0 0;
    }
    
    #close-rules:hover, #close-play:hover{
        font-size: 250%;
       /*color: #CC2B20;*/
       color: #7F0F0F;
    }
    
    #close-play:hover {
        font-size: 220%;
    }
    
    .play-modal{
        width: 100%;
        height: 100%;
        display: none;
        position: absolute;
        top: 0;
        z-index: 1;
    }
    
    .play-container{
        width: 8%;
        min-height: 22%;
        position: absolute;
        right: 0;
        padding: 1%;
        margin: 11% 11.3% 0 0;
        z-index: 1;
    }
    
    .square {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 0;
        background-image: linear-gradient(to top left, #2B2B2C, #555557, #AAA9AD, #DFDEE0, #A9ACAD, #6F6F70, #F0F0F0, #707070, #2B2B2C);
        transform: rotate(135deg);
        margin: 23.1% 15.7% 0 0;
        z-index: 0;
    }
    
    .difficulty-wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: 12%;
    }
    
    .difficulty-wrapper a {
        text-decoration: none;
        color: #000;
    }
    
    .difficulty  {
        width: 100%;
        font-size: 220%;
        cursor: pointer;
        padding: 0;
        margin-top: 10%;
    }
    
    .difficulty:hover  {
        background-color: #2B2B2C;
        color: #DFDEE0;
    }
    
    .about {
        padding: 4%;
    }
    
    .about h1 {
        color: #DFDEE0;
        font-size: 400%;
        text-align: center;
    }
    
    .paragrafs {
        display: flex;
        padding: 3%;
    }
    
    .paragrafs p {
        width: 50%;
        font-size: 120%;
        color: #DFDEE0;
        padding: 1%;
    }
    
}